@import "https://vale.rocks/style/colours.css";

@import "https://vale.rocks/style/input.css";

@import "https://vale.rocks/style/links.css";

@import "https://vale.rocks/style/type.css";

@import "https://vale.rocks/style/reset.css";

body {
	background-color: var(--black);
}

#app {
	display: none;
 /* Will be set to flex by JS */
	height: 100dvh;
}

/* Chat Window */

#chat-container {
	flex: 1;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#chat {
	margin: 0 auto;
	text-align: left;
	width: 100%;
	max-width: 60ch;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#chat-log {
	flex: 1;
	overflow-y: scroll;
}

#loading {
    display: none;
}

/* Message Box */

#messageBox {
	display: flex;
}

#messageInput {
	flex: 1;
	min-height: 2rem;
}

/* Sidebar */

#sidebar {
	display: flex;
	flex-direction: column;
	background: var(--dark_grey);
	max-width: 20%;
	min-width: 225px;
	padding: 10px;
}

#settings {
	flex: 1;
}

/* Login */

#login {
	display: none;
	justify-content: center;
    align-items: center;
    height: 100vh;
}

#login div {
	text-align: center;
}

@media (max-width: 700px) {
#app {
    flex-direction: column;
	height: auto;
}

#chat-container {
	flex-direction: row;
}

#sidebar {
	max-width: inherit;
}

}
